### This is an example of data wrangling

In [1]:
import sqlalchemy as sqlalc
import pandas as pd
import sorting

conn = sqlalc.create_engine(sorting.HOME_DATABASE_URI)
permits = pd.read_sql_table(table_name=sorting.PERMITS_TABLE, con=conn)

permits.head(n=3)

,id,permit_,permit_type,review_type,application_start_date,issue_date,processing_time,street_number,street_direction,street_name,...,contact_13_type,contact_13_name,contact_13_city,contact_13_state,contact_13_zipcode,contact_14_type,contact_14_name,contact_14_city,contact_14_state,contact_14_zipcode
0,3001302,100799159,PERMIT - ELECTRIC WIRING,EASY PERMIT WEB,2019-01-01,2019-01-01,0.0,3900,W,43RD,...,None,None,None,None,None,None,None,None,None,None
1,3001305,100799160,PERMIT - ELECTRIC WIRING,EASY PERMIT WEB,2019-01-01,2019-01-01,0.0,300,E,RANDOLPH,...,None,None,None,None,None,None,None,None,None,None
2,3001306,100799161,PERMIT - ELECTRIC WIRING,EASY PERMIT WEB,2019-01-01,2019-01-01,0.0,955,W,CERMAK,...,None,None,None,None,None,None,None,None,None,None